#red{
    color:red;
    }
#blue{
    color:blue;  
}
#green{
    color: greenyellow;
}
#purple{
    color: purple;
}
#orange{
    color:Orange;
    }
.brown{
    color:saddlebrown;
    }
a{
    text-decoration: none;
    }
span{
    
    font-weight: bold;
    }
div{
    font-size :20px; 
    font-weight: bold;
}
